.mainPaginationContainer {
   width: 100%;
   height: 61.2px;
   display: flex;
   align-items: center;
   justify-content: end;
}

.helperContainer {
   width: 100%;
   height: 620px;
   display: flex;
   align-items: center;
   justify-content: center;
}